*{
  padding: 0;
  margin: 0;
  background: black;
}

canvas{
  display:block;
}

#__bs_notify__ {
  position: absolute !important;
  display: none !important;
  top: 0 !important;
  left: 0 !important;
}
